@import "https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Poppins&family=Raleway:wght@300&display=swap";

:root {
   --primary-color: #03aff1;
  --secondary-color:#0b0d3e;
  --tertiary-color: #d5ecfb;
  --background-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5 !important;
  -webkit-font-smoothing: antialiased !important;
  font-family: "Poppins", sans-serif !important;
}
.wrapp {
  border: solid red 1px !important;
}

.container_modal {
  background-color: #fff;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.container_modal > .header,
.container_modal > .body {
  width: 100%;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  border-radius: 10px;
}

.wrapper_input_mod {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.wrapper_input_mod > span {
  display: block;
  width: 100px !important;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 400;
}

.wrapper_input_mod > input,
.wrapper_input_mod > .wrapper_input_text > input {
  width: 70%;
  padding: 5px 10px;
  border: solid 1px #ccc;
  border-radius: 6px;
  outline: none;
  font-size: 12px;
  color: #333;
}

.wrapper_input_mod > .input_date > i,
.wrapper_input_mod > .input_select > i,
.wrapper_input_text > .input_date > i,
.wrapper_input_text > .input_select > i {
  display: none;
}

.wrapper_check {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.input_check {
  width: fit-content !important;
}
.input_check > input {
  margin-right: 0.5em;
}

.z-spinner-real-readonly,
.z-doublespinner-real-readonly,
.z-timebox-real-readonly,
.z-datebox-real-readonly,
.z-bandbox-real-readonly,
.z-combobox-real-readonly {
  background-color: #fafafa;
  width: 100%;
}

.icon_sign {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
  color: var(--secondary-color);
}

.wrapper_input_mod > .input_date > input,
.wrapper_input_mod > .input_select > input,
.wrapper_input_text > .input_date > input,
.wrapper_input_text > .input_select > input {
  width: 100% !important;
  padding: 5px 10px 5px 25px;
  border: solid 1px #ccc;
  border-radius: 6px;
  outline: none;
  font-size: 12px;
  color: #333;
}

.wrapper_input_mod > .wrapper_input_text > input {
  padding-left: 20px !important;
}

.container_row_input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container_row_input > .wrapper_input_mod {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container_row_input > .wrapper_input_mod > span {
  font-size: 11px;
}

.container_row_input > .wrapper_input_mod > .wrapper_input_text {
  position: relative;
  width: 70%;
}

.container_row_input > .wrapper_input_mod > .wrapper_input_text > .input_text {
  width: 100%;
}

.container_row_input > .wrapper_input_mod > .wrapper_input_text > .icon {
  position: absolute;
  top: 8px;
  left: 6px;
  font-size: 10px;
  color: var(--secondary-color);
}

.btn_modal {
  padding: 1em 1em;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: var(--secondary-color);
  color: #fff;
  width: 100%;
  transition: ease 0.3s;
}

.btn_modal:active {
  transform: translate(0, 3px);
}

.cont_body,
.container_headers {
  background-color: #eee;
  border-radius: 10px;
  padding: 1em;
}

.wrapper_input_head {
  display: flex;
  align-items: center;
  gap: 1em;
}
.wrapper_input_head > input {
  padding: 5px 10px;
  border: solid 1px #ccc;
  border-radius: 6px;
  outline: none;
  font-size: 12px;
  color: #333;
  width: fit-content;
}

.container_headers {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.container_headers {
  font-size: 18px;
  cursor: pointer;
  color: gray;
}

.wrapper_checkbox {
  display: flex;
  align-items: center;
  gap: 1em;
}

.wrapper_checkbox > span > input {
  margin-right: 0.5em;
}

.icon_signature {
  position: absolute;
  top: 5px;
  right: 10px;
  color: var(--secondary-color);
  cursor: pointer;
}

.input_select_custom {
  width: 100%;
}
.btn_modal {
  font-family: Poppins, sans-serif !important;
}

.btn_modal::before {
  content: "";
  margin-right: 1em;
  transition: ease 0.3s;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

@media only screen and (min-width: 632px) {
  .container_modal {
    width: 1200px;
  }

  .container_modal > .header {
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
  }
  .wrapper_input_mod > span {
    width: fit-content;
  }

  .container_row_input {
    flex-direction: row;
  }

  .container_row_input > .wrapper_input_mod {
    width: 33%;
    display: flex;
  }
}
